<nav class="min-w-full h-20 bg-gray-800 flex d-flex justify-between text-white items-center text-3xl px-10">
 
    <div class="leftnav  ">
           <h1>Contact Management</h1>
    </div>
     <div class="rightnav flex d-flex gap-4  items-center w-1/3 justify-between ">
        <a href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/view">View</a>
        <a href="/about">About</a>
     </div>

</nav>