<!-- header imcluded -->
<%-include('partials/header')%>

<%-include('partials/nav')%>


<div class="min-w-full h-screen bg-red-200 bg-[url('https://images.unsplash.com/photo-1513436539083-9d2127e742f1?q=80&w=2063&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover  bg-center bg-no-repeat pt-10 overflow-hidden">

    <div class="w- h-screen bg-black bg-opacity-50">
        <div class="content w-3/4 m-auto h-4/5 bg-blue-600 rounded-3xl ">
                 <h1 class="text-center p-4 text-4xl pt-2 font-bold border-b-2 ">ABOUT US</h1>

                 <div class="text h-4/5 flex d-flex justify-around align-center px-4 py-2">
                    <div class="left w-2/5 text-center ">
                        <p class="text-center  m-auto text-2xl p-2 py-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nam velit, consequuntur ex, eius aliquam aperiam dolore cum eos quasi quidem harum unde, at quo similique est. Dicta unde vel eos aperiam aut natus animi harum repellendus reiciendis nemo asperiores amet, fuga et illum quis atque dignissimos vero saepe soluta?</p>
                        <a href="/" class="text-center bg-red-800 text-2xl p-2 rounded-2xl">Learn more</a>
                    </div>

                    <div class="right w-2/5 bg-green-200 bg-[url('https://plus.unsplash.com/premium_photo-1661661520332-c6df862bdc37?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover  bg-center bg-no-repeat rounded-3xl"></div>
                       
                 </div>
        </div>

    </div>
     
  
</div>


<!-- footer imcluded -->
<%-include('partials/footer')%>
